<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="Vct_ChangeSkuDynamically_Plugin_Frontend_Magento_ConfigurableProduct_Block_Product_View_Type_Configurable" type="Vct\ChangeSkuDynamically\Plugin\Frontend\Magento\ConfigurableProduct\Block\Product\View\Type\Configurable"/>
    </type>
</config>
